@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.header{
  font-family: 'Roboto', sans-serif;
}
body {
  background-color:#3b2626;
}

.table {
  border-radius: 10px;
}

.container {
  margin-left: auto;
}

table tr td, table tr th{
  background-color: rgba(0, 0, 0, 0.5) !important;
  color:white;
}
